@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,700');

$primaryColor: #324047;
$text:#EFEFEF;
$color1:#00CECE;
$color2:#00A8A8;

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
body{
}
p {
  margin-top: 25px;
  color:$primaryColor;
}

.main {
  // width: %;
  height: 100vh;
  position: fixed;
  background-color: $color1;

  ul {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: $color2;
    height: 80%;
    padding-left: 10px;
    padding-right: 10px;

    li {
      height: 80px;
      display: flex;
      flex-direction: column;

      a {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
          color: $text;
        }

        i {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.page_Content {
  margin-left: 5%;
  padding: 50px;
  background-color:$primaryColor;


}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav_example_1 {
  position: relative;
  margin-top: 50px;
  height: auto;
  display: flex;
  margin-bottom: 50px;

  ul {
    background-color: #E4E4E4;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: auto;

    li {
      margin: 0;
      padding: 20px 40px;
      height: auto;
      color: black;
      font-weight: 800;

      &:hover {
        background-color: #B8BAC2;
      }
    }
  }
}
#nav_example_2 {
  position: relative;
  margin-top: 50px;
  height: auto;
  display: flex;
  margin-bottom: 50px;

  ul {
    background-color: #E4E4E4;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: auto;

    li {
      margin: 0;
      padding: 20px 40px;
      height: auto;
      color: black;
      font-weight: 800;

      &:hover {
        background-color: #B8BAC2;
      }
    }
  }
}
.code{
margin-top: 50px;}
